@use '../assets/styles/colors' as *;
@use '../assets/styles/mixins' as *;

.container {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1px 2px -1px #c8cad1;
  grid-column: 3/-1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  padding: 1.4rem;

  min-width: 0;

  .title {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;

    .topicon {
      width: 2rem;
      height: 2rem;
    }
    p {
      color: $text;
      font-size: 1.6rem;
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: -0.11px;
    }
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
    max-height: 42rem;
    width: 100%;
    gap: 1.2rem;
  }

  .cardsContainer::-webkit-scrollbar {
    width: 0.5rem;
  }

  .cardsContainer::-webkit-scrollbar-thumb {
    background-color: rgba($primary, $alpha: 0.4);
    border-radius: 1rem;
  }
  .cardsContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgba($primary, $alpha: 1);
  }

  .ctaContainer {
    display: flex;
    gap: 2px;
    @include flex($align: center);
    padding-top: 1.2rem;
    a {
      color: #1e71bb;
      text-decoration: none;
      font-size: 1.4rem;
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: -0.096px;
    }
    img {
      width: 1.2rem;
      height: 1.2rem;
    }
    p {
      font-size: 1.2rem;
      flex: 1;
      text-align: right;
    }
  }
}

@media screen and (width < 900px) {
  .container {
    grid-column: 2/-1;
  }
}
@media screen and (width < 500px) {
  .container {
    grid-column: unset;
    display: none;
    grid-row: unset;
    height: 65vh;

    .title {
      p {
        font-weight: 600;
      }
    }

    .cardsContainer {
      .newsCard {
        padding: 1.8rem 1.4rem 1.8rem 0;
      }
    }
  }
  .active {
    display: flex;
    animation: show 400ms ease forwards;
  }
}

@keyframes show {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
